<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Pytube is a Youtube Video and Audio Downloader" />
    <meta name="robots" content="index,follow" />
    <title>Pytube Youtube Downloader</title>
</head>

<body>
    <form method='POST'>
        <input type="url" name="link" id="link" placeholder="Youtube Link" />
        <select id="type" name="type">
            <option value="Video" selected>Video</option>
            <option value="Audio">Audio</option>
        </select>
        <input type="submit" />
    </form>
</body>

</html>